<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/home.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <div class="left"><a href="main.html">AllGadget</a></div>
        <div class="right">
            <a href="home.html">Home</a>
            <a href="">Gallery</a>
            <a href="">Category</a>
            <a href="">Home</a>
            <a href="">Find Us</a>
            <a href="">About Us</a>
            <i class="fas fa-user"></i>
        </div>
    </nav>
    <div class="content">
        <div class="gadget-promotion">
            <h1>Gadget Promotion</h1>
        </div>
        <div class="content-slider">
            <div class="slider">
                
                <!-- Slide 1 -->
                <div class="slide">
                    <img src="../asset/Promotion.png" alt="">
                </div>
                
                <!-- slide 2 -->
                <div class="slide">
                    <img src="../asset/SamNote12.png" alt="">
                </div>
                <!-- slide 3 -->
                <div class="slide">
                    <img src="../asset/Earphone OP.png" alt="">
                </div>

                <button class="btn btn-next">></button>
                <button class="btn btn-prev"><</button>
            </div>

        </div>
    </div>
</body>
<script src="./js/home.js"></script>
</html>