.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #FAE0D8;
    padding-bottom: 20px;
}

.left{
    padding-left: 150px;
    padding-top: 10px;
}

.left a{
    font-family: Georgia;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.right{
    padding-right: 150px;
    padding-top: 20px;
    
}

.right a{
    padding-right: 20px;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.background{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
